.scroll-top {
  position: fixed;

  bottom: 100px;
  right: 25px;

  width: 55px;
  height: 55px;

  border: none;

  border-radius: 50%;

  background: #b76e79;
  color: white;

  cursor: pointer;

  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

  transition: all 0.3s ease;

  z-index: 998;
}

.scroll-top:hover {
  transform: translateY(-4px);
  background: #9f5c66;
}

@media (max-width: 768px) {
  .scroll-top {
    width: 50px;
    height: 50px;

    bottom: 90px;
    right: 20px;
  }
}